<h1 class="text-center">{{title}}</h1>
<h4 class="text-center"><i>{{subtitle}}</i></h4>
<div class="container-fluid">
  <div class="col-12">
    <ngb-tabset>
      <div *ngFor="let tableData of tabsData">
        <ngb-tab>
          <ng-template ngbTabTitle>{{tableData.title}}</ng-template>
          <ng-template ngbTabContent>
            <app-usertable [gender]="tableData.gender"></app-usertable>
          </ng-template>
        </ngb-tab>
      </div>
    </ngb-tabset>
  </div>
</div>
