.no-result-title {
  text-align: center;
}
.details-title {
  font-weight: bold;
}

.details-text-container {
  padding-bottom: 10px;
  text-justify: auto;
}

.details-image-container {
  padding-bottom: 10px;
  text-align: center;
}

.details-url-container {
  padding-bottom: 10px;
}

.details-text-label {
  margin: 0;
  font-weight: bolder;
  font-size: medium;
  color: grey;
  font-style: italic;
}

.details-url-container {
  font-size: smaller;
}

#details-url {
  word-break: break-all;
}
.details-url-label {
  font-weight: bolder;
  color: grey;
  font-style: italic;
}
