<div class="row"
     *ngIf="names === undefined || names.length === 0;else details_block">
</div>

<ng-template #details_block>
  <div style="padding: 10px" *ngIf="details !== null">
    <h3 class="details-title">Details for "{{names}}"</h3>
    <div class="details-image-container" *ngIf="details.icon.length !== 0" >
      <hr>
      <img class="img-fluid" src="{{details.icon}}" alt="{{details.icon}}">
    </div>
    <hr>
    <div class="details-text-container">
      <div class="details-text-label">Details:</div>
      <div id="details-text" class="text-justify" *ngIf="details.text.length !== 0">{{details.text}}</div>
    </div>
    <div class="details-url-container">
      <div id="details-url" style="word-wrap: break-word" *ngIf="details.url.length !== 0"><span class="details-url-label">URL:</span><a target="_blank" href="{{details.url}}">{{details.url}}</a></div>
    </div>
  </div>
  <div style="padding: 10px" *ngIf="details === null">
    <h3 class="no-result-title">No Results Found.</h3>
  </div>
</ng-template>
