<div class="row">
  <div class="usertable-container col-12 col-sm-8 col-md-8 col-lg-8">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Region</th>
      </tr>
      </thead>
      <tbody *ngIf="users?.length != 0">
      <tr *ngFor="let user of users">
        <td><input type="checkbox" value="{{user.name}}" id="{{user.name}}" name='usersCheckbox' (click)="getSelectedUsers($event)"></td>
        <td>{{user.name}}</td>
        <td>{{ user.surname}}</td>
        <td>{{ user.region}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="details-container col-12 col-sm-4 col-md-4 col-lg-4">
    <app-details [names]="selectedNames"></app-details>
  </div>
</div>
